<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <h1 class="title is-4">Shopping Lists</h1>
            </a>
        </div>

        <div class="navbar-menu is-active">
            <div class="navbar-end">
                <a class="navbar-item" href="#">Home</a>
                <a class="navbar-item" href="#">About</a>
                <a class="navbar-item" href="#">
                    <span class="icon">
                        <i class="fab fa-github"></i>    
                    </span>
                </a>
                <a class="navbar-item" href="#">
                    <span class="icon">
                        <i class="fab fa-linkedin"></i>    
                    </span>
                </a>
                <label class="navbar-item">
                    <input type="checkbox" id="darkmode-toggle" checked/>
                </label>
            </div>
        </div>
    </nav>
</body>
</html>
